html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
}

/* main container */
.main-container {
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header header header"
    "aside-navbar main main"
    "gallery gallery gallery"
    "footer footer footer";
}

/* header */
.header {
  grid-area: header;
  height: 124px;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  overflow: hidden;
}
.header img {
  width: 140px;
  margin-left: 1rem;
}

.header-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100px;
  height: 50px;
  margin-right: 0;
  flex-basis: auto;
  flex-shrink: 1;
}
.header-navbar a {
  display: none;
  font-size: 1.5rem;
  color: #212529;
  text-decoration: none;
}
.header-navbar a:hover {
  color: #d52b1e;
  text-shadow: 0px 0px 3px #fff;
  transition: all 0.2s ease;
}
.header i {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #3f4e4f;
}

/* aside navbar */
.aside-navbar {
  grid-area: aside-navbar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  background-color: #121212;
  color: #fff;
}
.aside-navbar h2 {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}
.search-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 280px;
  height: 50px;
  background-color: #d52b1e;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

/* .aside-navbar a {
    font-size: 0.8rem;
    color: rgba(245, 245, 245, 0.819);
    text-decoration: none;
    margin-top: 6px;
    margin-bottom: 6px;
  } */
.aside-navbar a:hover {
  color: white;
  text-shadow: 1px 1px 6px #fff;
}

/* main section */
.main {
  grid-area: main;
  padding: 12px;
  display: flex;
  gap: 10px;
}

/* cards container */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* overflow: hidden; */
}

/* cards */
.card {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 400px;
  border-radius: 6px;
  overflow: hidden;
}
.card:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

/* cards image */
.card-image-1 {
  background-image: url(/assets/img/bateria-tama-rhythm-mate-de-5-piezas-color-hairline-blue-212213-1.webp);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-image-2 {
  background-image: url(/assets/img/GRETSCH_CATALINA.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-image-3 {
  background-image: url(/assets/img/bateria-acustica-tama-starclassic-performer-22-10-12-14-16-dark-cherry-fade.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-image-4 {
  background-image: url(/assets/img/GIGMAKER_540x540_735x735_d7f846d8f553cd78c8c121aaaa2d6ae5.webp);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-image-5 {
  background-image: url(/assets/img/preview.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-image-6 {
  background-image: url(/assets/img/pearl-drum-yellow.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-image-7 {
  background-image: url(/assets/img/snare-blackbeauty.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-image-8 {
  background-image: url(/assets/img/zildjian-cymbal.webp);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* cards content */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-grow: 1;
}
.card-content h1 {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 2px;
}

.card-content p {
  font-size: 0.7rem;
  text-align: center;
  padding: 0 18px;
  margin-bottom: 12px;
}
.card-content span {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

/* cards button */
.btn {
  background-color: #3f4e4f;
  border-style: none;
  color: whitesmoke;
  font-size: 1rem;
  height: 80px;
}
.btn:hover {
  background-color: #9f2d40;
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5),
    0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
  transition: all 0.2s ease;
}

/* gallery and data source*/
.gallery {
  grid-area: gallery;
  height: 500px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  background-image: url(/assets/img/udwig-snare-drum.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding-top: 0;
}
.gallery img {
  width: 350px;
  padding: 10px;
  margin: 30px;
  margin-top: 0;
}
.gallery h4 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 7px;
  padding-right: 29px;
}
.gallery i {
  font-size: 0.8rem;
  margin: 7px;
  padding-right: 20px;
  text-align: end;
}

/* footer */
.footer {
  grid-area: footer;
  background-color: #222424;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  color: whitesmoke;
  font-size: 1.3rem;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
  text-shadow: 0px 0px 3px #fff;
  transition: all 0.2s ease;
}
